<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>mercado liebre</title>
</head>
<body>
    
 <header>

 <img src="../public/img/logo-mercado-liebre.svg" alt="logo mercado liebre" width="11100" height="600">

<br></br>
Buscar productos, marcas y más.
Comprá en cuotas y sin tarjeta de crédito
 <br></br>

 <ul>
    <li><a href=""> Tiendas Oficiales</a></li>

    <li><a href=""> Vender </a></li>
    <li><a href=""> Ayuda </a></li>

</ul>

<ul>

<li><a href=""> tu cuenta</a></li>
<li><a href=""> Ingresá</a></li>
<li><a href=""> Mis compras</a></li>

</ul>

</header>

<article>
<img src="../public/img/img-home-banner.jpg">

<strong>Basado en tu última visita</strong>

<br></br>

<img src="../public/img/img-cafetera-moulinex.jpg" alt="Cafetera molinex">
<br></br>
$6.770<br></br>
40% OFF<br></br>
<strong>Cafetera Moulinex Dolce Gusto Lorem ipsum, dolor sit amet.</strong>
<br></br>

<img src="../public/img/img-macbook-pro-2019.jpg" alt="macbook pro">
<br></br>
$230.000<br></br>
20% OFF<br></br>
<strong>Macbook Pro 2019 Lorem ipsum, dolor sit amet.</strong>
$70.500<br></br>
15% OFF<br></br>
<br></br>

<img src="../public/img/img-samsung-galaxy-s10.jpg" alt=" Galaxy S10">
<br></br>
 $70.500<br></br>
15% OFF<br></br>
<strong>Teléfono móvil Samsung Galaxy S10 Lorem ipsum, dolor sit amet.</strong>
$34.000<br></br>
<br></br>


<br></br>
<strong>Ofertas </strong>
<br></br>

<img src="../public/img/img-cafetera-moulinex.jpg" alt="Cafetera molinex">
<br></br>
$6.770<br></br>
40% OFF<br></br>
<strong>Cafetera Moulinex Dolce Gusto Lorem ipsum, dolor sit amet.</strong>
<br></br>

<img src="../public/img/img-macbook-pro-2019.jpg" alt="macbook pro">
<br></br>
$230.000<br></br>
20% OFF<br></br>
<strong>Macbook Pro 2019 Lorem ipsum, dolor sit amet.</strong>
$70.500<br></br>
15% OFF<br></br>
<br></br>

<img src="../public/img/img-samsung-galaxy-s10.jpg" alt=" Galaxy S10">
<br></br>
 $70.500<br></br>
15% OFF<br></br>
<strong>Teléfono móvil Samsung Galaxy S10 Lorem ipsum, dolor sit amet.</strong>
$34.000<br></br>
<br></br>

</article>


<footer>
paga con tarjeta o en efectivo

Con MercadoLiebreCash tenés cuotas sin interés con tarjeta o efectivo en puntos de
pago. ¡Y siempre es seguro!


Envío gratis desde los $ 2.500

Solo por estar registrad@ en MercadoLiebre tenés envíos gratis en miles de
productos. Es un beneficio de MercadoPuntos.


Seguridad, de principio a fin

¿No te gusta? ¡Devolvelo! En MercadoLiebre no hay nada que no puedas hacer
porque estás siempre prtegid@.

Copyright © 1999-2019 MercadoLiebre S.R.L
</footer>
</body>
</html>
